header{
    border: 2px solid;
    display: flex;
    background: rgba(0, 139, 139, 0.63);
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo{
    border: 2px solid;
    align-self: center;
}
nav{
    align-self: center;
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;


}
